
:root {
  --magenta-dye: #d30c7bff;
  --thulian-pink: #e978acff;
  --misty-rose: #ffe3dcff;
  --pale-dogwood: #edccc5ff;
  --tea-rose-red: #dbb4adff;
  --tea-rose-red-2: #dbb5adff;
  --khaki: #bfb19fff;
  --sage: #a2ad91ff;
  --dim-gray: #6e6d62ff;
  --raisin-black: #3a2d32ff;
}

 body {
  background-color: var(--raisin-black);
 }
  
  h1 {
    color: var(--magenta-dye);
   text-align:center;
  }
  
  h2 {
  color: var(--thulian-pink);
  text-align:center;
  }
  
  h3 {
  color: var(--tea-rose-red);
  text-align:center;
  }


  p {
    color: var(--tea-rose-red-2);
    text-align: justify;
    font-size: large;
  }

 a {
  display: block;
  padding: 8px;
 }

  a:link {
    color: var(--magenta-dye);
  }

  a:visited  {
 color: var(--thulian-pink);
  }

  a:active {
    color: var(--tea-rose-red);
  }

  a:hover {
 color:var(--misty-rose);
  }

  li {
    display: inline;
    float:left;
    margin: 0px;
    padding: 0px;
    background-color: var(--sage);
    border-width: auto;
    border-style: solid;
    border-color: var(--dim-gray);

  }

  ul {
    list-style-type: none;
    position: sticky;
  }