:root {
  --dark-green: #1b3022ff;
  --dark-green-2: #0a3022ff;
  --dark-slate-gray: #395756ff;
  --dark-slate-gray-2: #386756ff;
  --paynes-gray: #4f5d75ff;
  --ultra-violet: #7261a3ff;
  --ultra-violet-2: #8371a3ff;
  --african-violet: #a67db8ff;
  --african-violet-2: #b67db8ff;
}


 body {
  background-color: var(--dark-green-2);
 }
  
  h1 {
    color: var(--ultra-violet);
   text-align:center;
   font-family: Conduit_Bold;
  }
  
  h2 {
  color:  var(--african-violet-2);
  text-align:center;
  font-family: Conduit_Bold;
  }
  
  h3 {
  color: var(--ultra-violet-2);
  text-align:center;
  font-family: Conduit_Bold;
  }

  p {
    color: var(--african-violet);
    text-align: justify;
    font-size: large;
    font-family: Conduit;
  }

 a {
  display: block;
  padding: 8px;
 }

  a:link {
    color:var(--dark-slate-gray-2);
  }

  a:visited  {
 color: var(--dark-slate-gray);
  }

  a:active {
    color: var(--paynes-gray);
  }

  a:hover {
 color: var(--african-violet-2);
  }

  li {
    display: inline;
    float:left;
    margin: 0px;
    padding: 0px;
    background-color: var(--dark-green);
    border-width: auto;
    border-style: Solid;
    border-color: var(--dark-slate-gray);

  }

  ul {
    list-style-type: none;
    position: sticky;
  }

  @font-face {
    font-family: Conduit_Bold;
    src: url(Conduit_ITC_Bold.otf);
    font-weight: bold;
  }

  @font-face {
    font-family: Conduit;
    src: url(Conduit_ITC_Medium_Regular.otf);
    font-weight: bold;
  }