:root{
  --french-gray: #c2b3b6ff;
--french-gray-2: #d5c5c8ff;
--cadet-gray: #9da3a4ff;
--wenge: #604d53ff;
--puce: #db7f8eff;
--misty-rose: #ffdbdaff;
--misty-rose-2: #ffdeddff;
}
 body {
  background-color: var(--cadet-gray);
 }
  
  h1 {
    color:var(--puce);
   text-align:center;
   font-family: Conduit_Bold;
  }
  
  h2 {
  color: var(--misty-rose-2);
  text-align:center;
  font-family: Conduit_Bold;
  }
  
  h3 {
  color: var(--misty-rose);
  text-align:center;
  font-family: Conduit_Bold;
  }
  


  p {
    color: var(--misty-rose);
    text-align: justify;
    font-size: large;
    font-family: Conduit;
  }

 a {
  display: block;
  padding: 8px;
 }

  a:link {
    color:var(--puce);
  }

  a:visited  {
 color:var(--misty-rose);
  }

  a:active {
    color:var(--misty-rose-2);
  }

  a:hover {
 color: var(--wenge);
  }

  li {
    display: inline;
    float:left;
    margin: 0px;
    padding: 0px;
    background-color: var(--french-gray-2);
    border-width: auto;
    border-style: dashed;
    border-color: var(--french-gray);

  }

  ul {
    list-style-type: none;
    position: sticky;
  }

  @font-face {
    font-family: Conduit_Bold;
    src: url(Conduit_ITC_Bold.otf);
    font-weight: bold;
  }

  @font-face {
    font-family: Conduit;
    src: url(Conduit_ITC_Medium_Regular.otf);
    font-weight: bold;
  }