:root{
  --ecru: #cdb888ff;
  --ecru-2: #d7c18fff;
  --peach-yellow: #e1ca96ff;
  --ecru-3: #c7b98eff;
  --sage: #aca885ff;
  --battleship-gray: #918b76ff;
  --battleship-gray-2: #7a7c6eff;
  --ebony: #626c66ff;
  --black-olive: #434a42ff;
  --ebony-2: #545a53ff;
}
 body {
  background-color: var(--ecru);
 }
  
  h1 {
    color: var(--black-olive);
   text-align:center;
   font-family: Conduit_Bold;
  }
  
  h2 {
  color: var(--ebony);
  text-align:center;
  font-family: Conduit_Bold;
  }
  
  h3 {
  color: var(--sage);
  text-align:center;
  font-family: Conduit_Bold;
  }
  
  p {
    color: var(--ebony-2);
    text-align: justify;
    font-size: large;
    font-family: Conduit;
  }

 a {
  display: block;
  padding: 8px;
 }

  a:link {
    color:var(--peach-yellow);
  }

  a:visited  {
 color: var(--ecru-2);
  }

  a:active {
    color: var(--battleship-gray-2);
  }

  a:hover {
 color: var(--ecru-3);
  }

  li {
    display: inline;
    float:left;
    margin: 0px;
    padding: 0px;
    background-color: var(--black-olive);
    border-width: auto;
    border-style: block;
    border-color: var(--peach-yellow);

  }

  ul {
    list-style-type: none;
    position: sticky;
  }

  @font-face {
    font-family: Conduit_Bold;
    src: url(Conduit_ITC_Bold.otf);
    font-weight: bold;
  }

  @font-face {
    font-family: Conduit;
    src: url(Conduit_ITC_Medium_Regular.otf);
    font-weight: bold;
  }