:root{
  --silver: #cdc6c7ff;
--timberwolf: #e2dadbff;
--platinum: #e9e9e9ff;
--platinum-2: #dae2dfff;
--ash-gray: #a2a7a5ff;
--dim-gray: #6d696aff;
--white: #ffffffff;
}
 body {
  background-color: var(--platinum-2);
 }
  
  h1 {
    color: var(--dim-gray);
   text-align:center;
   font-family: Conduit_Bold;
  }
  
  h2 {
  color:var(--platinum);
  text-align:center;
  font-family: Conduit_Bold;
  }
  
  h3 {
  color: var(--silver);
  text-align:center;
  font-family: Conduit_Bold;
  }
  
  p {
    color: var(--timberwolf);
    text-align: justify;
    font-size: large;
    font-family: Conduit;
  }

 a {
  display: block;
  padding: 8px;
 }

  a:link {
    color: var(--platinum);
  }

  a:visited  {
 color:var(--platinum-2);
  }

  a:active {
    color:var(--silver);
  }

  a:hover {
 color: white;
  }

  li {
    display: inline;
    float:left;
    margin: 0px;
    padding: 0px;
    background-color: var(--ash-gray);
    border-width: auto;
    border-style: solid;
    border-color: var(--white);

  }

  ul {
    list-style-type: none;
    position: sticky;
  }

  @font-face {
    font-family: Conduit_Bold;
    src: url(Conduit_ITC_Bold.otf);
    font-weight: bold;
  }

  @font-face {
    font-family: Conduit;
    src: url(Conduit_ITC_Medium_Regular.otf);
    font-weight: bold;
  }