:root{
 --midnight-green: #004e64ff;
--cerulean: #007a9aff;
--pacific-cyan: #00a5cfff;
--aquamarine: #9fffcbff;
--persian-green: #25a18eff;
--emerald: #50c388ff;
--light-green: #7ae582ff;
}
 body {
  background-color: var(--cerulean);
 }
  
  h1 {
    color: var(--light-green);
   text-align:center;
   font-family: Conduit_Bold;
  }
  
  h2 {
  color: var(--pacific-cyan);
  text-align:center;
  font-family: Conduit_Bold;
  }
  
  h3 {
  color: cyan;
  text-align:center;
  font-family: Conduit_Bold;
  }



  p {
    color: var(--aquamarine);
    text-align: justify;
    font-size: large;
    font-family: Conduit;
  }

 a {
  display: block;
  padding: 8px;
 }

  a:link {
    color:var(--midnight-green);
  }

  a:visited  {
 color:cadetblue;
  }

  a:active {
    color:aquamarine;
  }

  a:hover {
 color:darkcyan;
  }

  li {
    display: inline;
    float:left;
    margin: 0px;
    padding: 0px;
    background-color: var(--emerald);
    border-width: auto;
    border-style: dashed;
    border-color: var(--persian-green);

  }

  ul {
    list-style-type: none;
    position: sticky;
  }

  @font-face {
    font-family: Conduit_Bold;
    src: url(Conduit_ITC_Bold.otf);
    font-weight: bold;
  }

  @font-face {
    font-family: Conduit;
    src: url(Conduit_ITC_Medium_Regular.otf);
    font-weight: bold;
  }