:root
{
  --jasper: #c55243ff;
  --jasper-2: #d95a4aff;
  --tomato: #ef6351ff;
  --salmon: #f38375ff;
  --melon: #f7a399ff;
  --melon-2: #fbc3bcff;
  --misty-rose: #ffe3e0ff;
  --misty-rose-2: #ffe6e3ff;
  --misty-rose-3: #ffe8e6ff;
}
 body {
  background-color: rgb(34, 29, 65);
 }
  
  h1 {
    color: rgb(116, 193, 193);
   text-align:center;
  }
  
  h2 {
  color: lightslategray;
  text-align:center;
  }
  
  h3 {
  color: rgb(114, 101, 201);
  text-align:center;
  }
  


p.github {
  background-color: rgb(231, 30, 154);
  text-align: center;
  height:40px;
 width: 205px;;
}



p.itch {
  background-color: rgb(13, 114, 192);
  height:40px;
  text-align: center;
  width:205px;
}



  p {
    color: rgb(122, 175, 227);
    text-align: justify;
    font-size: large;
  }

 a {
  display: block;
  padding: 8px;
 }

  a:link {
    color:aqua;
  }

  a:visited  {
 color:cadetblue;
  }

  a:active {
    color:aquamarine;
  }

  a:hover {
 color:darkcyan;
  }

  li {
    display: inline;
    float:left;
    margin: 0px;
    padding: 0px;
    background-color: rgb(96, 82, 184);
    border-width: auto;
    border-style: dashed;
    border-color: rgb(69, 69, 69);

  }

  ul {
    list-style-type: none;
    position: sticky;
  }