:root
{
  --jasper: #c55243ff;
  --jasper-2: #d95a4aff;
  --tomato: #ef6351ff;
  --salmon: #f38375ff;
  --melon: #f7a399ff;
  --melon-2: #fbc3bcff;
  --misty-rose: #ffe3e0ff;
  --misty-rose-2: #ffe6e3ff;
  --misty-rose-3: #ffe8e6ff;
}
 body {
  background-color: var(--misty-rose-3);
 }
  
  h1 {
    color: var(--jasper);
   text-align:center;
  }
  
  h2 {
  color: var(--jasper-2);
  text-align:center;
  }
  
  h3 {
  color: var(--salmon);
  text-align:center;
  }
  
  p {
    color: var(--tomato);
    text-align: justify;
    font-size: large;
  }

 a {
  display: block;
  padding: 8px;
 }

  a:link {
    color: var(--melon);
  }

  a:visited  {
 color: var(--melon-2);
  }

  a:active {
    color: var(--salmon);
  }

  a:hover {
 color: var(--tomato);
  }

  li {
    display: inline;
    float:left;
    margin: 0px;
    padding: 0px;
    background-color: var(--misty-rose);
    border-width: auto;
    border-style: Solid;
    border-color: var(--misty-rose-2);

  }

  ul {
    list-style-type: none;
    position: sticky;
  }