:root{
  --citron: #d4c579ff;
  --flax: #e9d985ff;
  --olivine: #b2bd7eff;
  --asparagus: #749c75ff;
  --chinese-violet: #6a5d7bff;
  --english-violet: #5d4a66ff;
  --chinese-violet-2: #6c5a74ff;
}

 body {
  background-color: rgb(34, 29, 65);
 }
  
  h1 {
    color: rgb(116, 193, 193);
   text-align:center;
  }
  
  h2 {
  color: lightslategray;
  text-align:center;
  }
  
  h3 {
  color: rgb(114, 101, 201);
  text-align:center;
  }
  
  p {
    color: rgb(122, 175, 227);
    text-align: justify;
    font-size: large;
  }

 a {
  display: block;
  padding: 8px;
 }

  a:link {
    color:aqua;
  }

  a:visited  {
 color:cadetblue;
  }

  a:active {
    color:aquamarine;
  }

  a:hover {
 color:darkcyan;
  }

  li {
    display: inline;
    float:left;
    margin: 0px;
    padding: 0px;
    background-color: rgb(96, 82, 184);
    border-width: auto;
    border-style: solid;
    border-color: rgb(69, 69, 69);

  }

  ul {
    list-style-type: none;
    position: sticky;
  }