:root{
  --citron: #d4c579ff;
  --flax: #e9d985ff;
  --olivine: #b2bd7eff;
  --olivine-2: #a2ac8eff;
  --asparagus: #749c75ff;
  --chinese-violet: #6a5d7bff;
  --english-violet: #5d4a66ff;
  --english-violet-2: #5e4b85ff;
  --chinese-violet-2: #6c5a74ff;
}

 body {
  background-color: var(--asparagus);
 }
  
  h1 {
    color: var(--citron);
   text-align:center;
  }
  
  h2 {
  color: var(--olivine);
  text-align:center;
  }
  
  h3 {
  color: var(--flax);
  text-align:center;
  }
  
  p {
    color: var(--olivine-2);
    text-align: justify;
    font-size: large;
  }

 a {
  display: block;
  padding: 8px;
 }

  a:link {
    color:var(--english-violet-2);
  }

  a:visited  {
 color:var(--chinese-violet);
  }

  a:active {
    color:var(--chinese-violet-2);
  }

  a:hover {
 color:var(--english-violet);
  }

  li {
    display: inline;
    float:left;
    margin: 0px;
    padding: 0px;
    background-color: var(--flax);
    border-width: auto;
    border-style: solid;
    border-color: var(--olivine);

  }

  ul {
    list-style-type: none;
    position: sticky;
  }