:root{
--falu-red: #86141eff;
--carmine: #931621ff;
--Wine: #7B0323ff;
--Wine-2: #8B0234ff;
--dark-slate-gray: #28464bff;
--caribbean-current: #326771ff;
--blue-munsell: #2c8c99ff;
--turquoise: #42d9c8ff;
--turquoise-2: #53dccdff;
}
 body {
  background-color: var(--caribbean-current)
 }
  
  h1 {
    color: var(--falu-red);
   text-align:center;
   font-family: Conduit_Bold;
  }
  
  h2 {
  color: var(--dark-slate-gray);
  text-align:center;
  font-family: Conduit_Bold;
  }
  
  h3 {
  color: var(--turquoise-2);
  text-align:center;
  font-family: Conduit_Bold;
  }

  p {
    color: var(--carmine);
    text-align: justify;
    font-size: large;
    font-family: Conduit;
  }

 a {
  display: block;
  padding: 8px;
 }

  a:link {
    color: crimson;
  }

  a:visited  {
 color:var(--carmine);
  }

  a:active {
    color: var(--Wine);
  }

  a:hover {
 color:var(--Wine-2);
  }

  li {
    display: inline;
    float:left;
    margin: 0px;
    padding: 0px;
    background-color: var(--blue-munsell);
    border-width: auto;
    border-style: solid;
    border-color: var(--dark-slate-gray);

  }

  ul {
    list-style-type: none;
    position: sticky;
  }

  @font-face {
    font-family: Conduit_Bold;
    src: url(Conduit_ITC_Bold.otf);
    font-weight: bold;
  }

  @font-face {
    font-family: Conduit;
    src: url(Conduit_ITC_Medium_Regular.otf);
    font-weight: bold;
  }