:root{
  --Norway-spruce: #113d00;
  --Sprouts-green: #66b324;
  --mincepie-pastry: #eace96;
  --Ho-ho-ho-red: #af0a08;
  --mulled-spice: #400822;
  --pudding-brown: #17050e;
  --snowwhite: #fffafa;
}
 body {
  background-color: var(--snowwhite);
 }
  
  h1 {
    color: var(--Norway-spruce);
   text-align:center;
  }
  
  h2 {
  color: var(--Sprouts-green);
  text-align:center;
  }
  
  h3 {
  color: var(--mulled-spice);
  text-align:center;
  }

  p {
    color: var(--pudding-brown);
    text-align: justify;
    font-size: large;
  }

 a {
  display: block;
  padding: 8px;
 }

  a:link {
    color:aqua;
  }

  a:visited  {
 color:cadetblue;
  }

  a:active {
    color:aquamarine;
  }

  a:hover {
 color:darkcyan;
  }

  li {
    display: inline;
    float:left;
    margin: 0px;
    padding: 0px;
    background-color: rgb(96, 82, 184);
    border-width: auto;
    border-style: Solid;
    border-color: rgb(69, 69, 69);

  }

  ul {
    list-style-type: none;
    position: sticky;
  }