:root{
  --eerie-black: #262726ff;
--jet: #2a2b2aff;
--eggplant: #5e4955ff;
--chinese-violet: #996888ff;
--chinese-violet-4: #994888ff;
--chinese-violet-3: #987878ff;
--chinese-violet-2: #991888ff;
--rosy-brown: #c99da3ff;
--columbia-blue: #c6ddf0ff;
--columbia-blue-2: #cbe0f1ff;
}
 body {
  background-color: var(--eerie-black);
 }
  
  h1 {
    color: var(--eggplant);
   text-align:center;
  }
  
  h2 {
  color: var(--rosy-brown);
  text-align:center;
  }
  
  h3 {
  color: var(--columbia-blue);
  text-align:center;
  }

  p {
    color: var(--eggplant);
    text-align: justify;
    font-size: large;
  }

 a {
  display: block;
  padding: 8px;
 }

  a:link {
    color:var(--chinese-violet);
  }

  a:visited  {
 color: var(--chinese-violet-3);
  }

  a:active {
    color: var(--chinese-violet-2);
  }

  a:hover {
 color: var(--chinese-violet-4);
  }

  li {
    display: inline;
    float:left;
    margin: 0px;
    padding: 0px;
    background-color: var(--columbia-blue-2);
    border-width: auto;
    border-style: solid;
    border-color: var(--chinese-violet-2);

  }

  ul {
    list-style-type: none;
    position: sticky;
  }