
 body {
  background-color: rgb(34, 29, 65);
 }
  
  h1 {
    color: rgb(116, 193, 193);
   text-align:center;
  }
  
  h2 {
  color: lightslategray;
  text-align:center;
  }
  
  h3 {
  color: rgb(114, 101, 201);
  text-align:center;
  }
  
  p {
    color: slategray;
  text-align:center;
  }

  a:link {
    color:aqua;
  }

  a:visited  {
 color:cadetblue;
  }

  a:active {
    color:aquamarine;
  }

  a:hover {
 color:darkcyan;
  }

  li {
    display: inline;
    background-color: rgb(5, 57, 40);
  }

  ul {
    list-style-type: none;
    position:sticky;
  }