
 body {
  background-color: darkslateblue;
 }
  
  h1 {
    color: rgb(116, 193, 193);
   text-align:center;
  }
  
  h2 {
  color: lightslategray;
  text-align:center;
  }
  
  
  h3 {
  color: rgb(114, 101, 201);
  text-align:center;
  }
  
  
  p {
    color: slategray;
  text-align:center;
  }