:root{
  --eerie-black: #181c14ff;
--eerie-black-2: #1a1f16ff;
--pakistan-green: #1e3f20ff;
--hunter-green: #345830ff;
--fern-green: #4a7856ff;
--aquamarine: #94ecbeff;
--celadon: #9eeec4ff;
}
 body {
  background-color: var(--pakistan-green);
 }
  
  h1 {
    color: rgb(116, 193, 193);
   text-align:center;
  }
  
  h2 {
  color: lightslategray;
  text-align:center;
  }
  
  h3 {
  color: rgb(114, 101, 201);
  text-align:center;
  }

  p {
    color:var(--celadon);
    text-align: justify;
    font-size: large;
  }

 a {
  display: block;
  padding: 8px;
 }

  a:link {
    color:var(--celadon);
  }

  a:visited  {
 color:var(--fern-green);
  }

  a:active {
    color: green;
  }

  a:hover {
 color:darkcyan;
  }

  li {
    display: inline;
    float:left;
    margin: 0px;
    padding: 0px;
    background-color: var(--fern-green);
    border-width: auto;
    border-style: dashed;
    border-color: var(--aquamarine);

  }

  ul {
    list-style-type: none;
    position: sticky;
  }